.card-details{
    min-height: 100vh;
    background-color: var(--Very_Dark-Blue);
    padding: 2rem;
    padding-top: 10rem;
}

@import '../../assets/scss/background-light';

@media(min-width:650px){
    .card-details{
        .card-info{
            width: 100%;
            display: flex;
            column-gap: 4rem;
            .img-box{
                width: 50rem;
                height: 15rem;
            }
            .content{
                width: 100%;
                margin-top: 0;   
                .title{
                    font-size: 3rem;
                }
                .name{
                    font-size: 1.6rem;
                    
                }
                
            }
        }
    }
}

@media(min-width:1000px){
    .card-details{  
        .card-info{
            margin-top: 6rem;
            .content{
                max-width: 70rem;
                display: grid;
                column-gap: 4rem;
                grid-template-columns: repeat(2,1fr);
                .detalles{
                    margin-top: 5.5rem;
                }
            }
        }
    }
}

@media (min-width:1130px) {
    .card-details{
        .card-info{
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            max-width: 1366px;
            column-gap: 8rem;
            .img-box{
                width: 100%;
                height: 100%;
            }
        }
    }
}