.card-details{
    background-color: var(--Very_Dark-Blue);
    height: 100%;
    padding: 2.5rem;
    .button-back{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: .6rem;
        border: none;
        background-color: var(--Dark_Blue);
        color: var(--Very_Light_Gray);
        width: 10rem;
        height: 3.4rem;
        border-radius: .5rem;
        box-shadow: 0 0 1rem rgb(0,0,0,0.2);
        font-size: 1.4rem;
        .Icon{
            width: 1.8rem;
        }
    }
    .card-info{
        .img-bandera{
            width: 100%;
            height: 20rem;
        }
    }
}