
<ng-container *ngIf="!estado">
    <div class="card-details">
        <button class="button-back" (click)="volver()">
            <div class="Icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor"
                    className="w-6 h-6">
                    <path strokeLinecap="round" strokeLinejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
                </svg>
            </div>
            <p>Back</p>
        </button>
        <div class="card-info" *ngFor="let country of dataCountry">
            <img src="{{country.flags.png}}" class="img-bandera" alt="">
            <div class="content">
                <section class="info">
                    <h1 class="title"></h1>
                    <p>Native name: <span>{{getNameNative(country.name)}}</span></p>
                    <p>Population: <span>{{country.population | abbreviateNumber}}</span></p>
                    <p>Region: <span>{{country.region}}</span></p>
                    <p>Sub Region: <span>{{country.subregion}}</span></p>
                    <p>Capital: <span>{{country.capital}}</span></p>
                </section>
                <section class="detalles">
                    <p>Top Level Domain: <span>{{getTopLevelDomain(country.tld)}}</span></p>
                    <p>Currencies: <span>{{getCurrencies(country.currencies)}}</span></p>
                    <p>Languajes: <span>{{getLanguages(country.languages)}}</span></p>
                </section>

                <div class="container-border">
                    <p>Border countries</p>
                    <span class="border" *ngIf="country.borders === undefined">None</span>
                    <div *ngIf="borders.length > 0" class="box-border-countries">
                        <button class="border" (click)="getNewCountry(border.name!)" *ngFor="let border of borders; let i = index">
                        <span>{{border.icon}}</span>
                        <span>{{border.name}}</span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
     
</ng-container>
