.container-controllers{
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    mat-form-field{
       background-color: var(--Dark_Blue); 
       height: 5.5rem;
       border-radius: .5rem;
       margin-bottom: 2rem;
        mat-label, mat-icon{   
            color: var(--White);
        }
        input,mat-select{
            
            color: var(--White);
            &::placeholder{
                color: var(--White);
            }
        }
    }
}