.container-controllers{
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    mat-form-field{
        mat-label, mat-icon{   
            color: var(--White);
        }
        input,mat-select{
            
            color: var(--White);
            &::placeholder{
                color: var(--White);
            }
        }
    }
}