.container-controllers{
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    mat-form-field{
       background-color: var(--Dark_Blue); 
       height: 5.5rem;
       border-radius: .5rem;
       margin-bottom: 2rem;
        mat-label, mat-icon{   
            color: var(--White);
        }
        input,mat-select{
            
            color: var(--White);
            &::placeholder{
                color: var(--White);
            }
        }
    }
}


.demo-paginator {
    background-color: transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding-bottom: 1.5rem;
    color: var(--Very_Light_Gray);
}


@media(min-width:530px){
    .demo-paginator {
        padding-bottom: 0;
    }
}

@media(min-width:700px){
    .container-controllers{
        position: relative;
        flex-direction: row;
        column-gap: 1rem;
        padding-bottom: 3rem;
        
        .container-search{
            flex: 1;
            left: 0;
            max-width: 36rem;
        }
        .container-sort,.container-filter{ 
            
            position: absolute;
            width: 15rem;
        }
        .container-filter{
          
            right: 1.5rem;
        }
        .container-sort{
            right: 17.5rem;
        }
    }
    .demo-paginator{
        box-shadow: none;
    }
   
}