
<div class="container-controllers">

    <mat-form-field [ngClass]="{'background-light':activeThemeLight,'hover':activeThemeLight}" class="container-search " appearance="outline">
        <mat-label [ngClass]="{'color-light':activeThemeLight}" >Search</mat-label>
        <input [ngClass]="{'placeholder color-light':activeThemeLight}" class="search" matInput [formControl]="searchControl" placeholder="Country">
        <mat-icon matSuffix [ngClass]="{'color-light':activeThemeLight}" >search</mat-icon>
    </mat-form-field>

    <mat-form-field  [ngClass]="{'background-light':activeThemeLight,'hover':activeThemeLight}" class="container-sort" appearance="outline" >
        <mat-icon matSuffix [ngClass]="{'color-light':activeThemeLight}" >sort</mat-icon>
        <mat-label [ngClass]="{'color-light':activeThemeLight}" >sortBy</mat-label>
        <mat-select [ngClass]="{'color-light':activeThemeLight}" [formControl]="selectSortControl">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let sort of sortBy" [value]="sort.value">{{sort.viewValue}}</mat-option>
        </mat-select>
    </mat-form-field>


    <mat-form-field  [ngClass]="{'background-light':activeThemeLight,'hover':activeThemeLight}" class="container-filter" appearance="outline">
        <mat-icon matSuffix [ngClass]="{'color-light':activeThemeLight}">filter_alt</mat-icon>
        <mat-label [ngClass]="{'color-light':activeThemeLight}">Filter By</mat-label>
        <mat-select [ngClass]="{'color-light':activeThemeLight}" [formControl]="filterByControl">  
            <mat-option>None</mat-option>
            <mat-option *ngFor="let region of regions" [value]="region.value">{{ region.viewValue }}</mat-option>
         <!--    <mat-checkbox  (change)="fnCheckUnMember()">UN Member</mat-checkbox> -->
        </mat-select>
    </mat-form-field>

</div>

<mat-paginator [ngClass]="{'color-light':activeThemeLight}" #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
    [pageSize]="pageSize" [disabled]="disabled" [showFirstLastButtons]="showFirstLastButtons"
    [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize" [pageIndex]="pageIndex"
    aria-label="Select page">
</mat-paginator>


<div class="notFound" [ngClass]="{'color-light':activeThemeLight}"
*ngIf="!listCountrys.length">There are no results with {{valueSearch}}</div>



