
<div class="container-controllers">

    <mat-form-field class="container-search " appearance="outline">

        <mat-label>Search</mat-label>
        <input class="search" matInput placeholder="Country">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <mat-form-field  appearance="outline" >
        <mat-icon matSuffix>sort</mat-icon>
        <mat-label>sortBy</mat-label>
        <mat-select [(ngModel)]="selectedValue">
            <ul *ngFor="let sort of sortBy">
                <mat-option [value]="sort.value">{{sort.viewValue}}</mat-option>
            </ul>
        </mat-select>
    </mat-form-field>

    <mat-form-field  appearance="outline">
        <mat-icon matSuffix>filter_alt</mat-icon>
        <mat-label>Filter By</mat-label>
        <mat-select [(ngModel)]="selectedValue">
            <mat-option>
                <button mat-button [matMenuTriggerFor]="regiones">Regiones</button>
                <mat-menu #regiones="matMenu">
                    <ul *ngFor="let region of regions">
                        <mat-option [value]="region.value">{{region.viewValue}}</mat-option>
                    </ul>
                </mat-menu>
                <mat-checkbox>UN Member</mat-checkbox>
            </mat-option>
        
        </mat-select>
    </mat-form-field>
 
</div>


<mat-paginator 
        #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="countrysList.length"
        [pageSize]="pageSize" [disabled]="disabled" [showFirstLastButtons]="showFirstLastButtons"
        [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize"
        [pageIndex]="pageIndex" aria-label="Select page">
</mat-paginator>

